<div class="full-page">
    <div class="page-block" fxLayout="row" fxLayoutWrap>
        <div class="left-block text-center" fxFlex="1 1 0">
            <img src="https://image.ibb.co/nuN8Re/12.jpg" alt="Company or Product Logo" class="logo" />
            <div class="sidebar-footer">
                <figure><img src="https://image.ibb.co/kzkCme/Logo_Samples2_91_min.jpg" alt="" /></figure>
                <p>
                    By registering you agree to our <br />
                    <a routerLink="/">Terms and Conditions</a> and <a routerLink="/">Privacy Policy </a>
                </p>
            </div>
        </div>
        <div class="right-block" fxFlex="1 1 0">
            <ng-container *ngIf="showRegisterForm">
                <h4>Register an Account</h4>
                <p>
                    To register for an account, enter your email address below. We will send you an email with a
                    confirmation code to verify your address.
                </p>
                <form [formGroup]="registrationForm">
                    <div class="form-field-set">
                        <div class="form-group" fxLayout="row" fxLayoutAlign="flex-start center">
                            <mat-icon>email </mat-icon>
                            <mat-form-field>
                                <input
                                    matInput
                                    placeholder="Email Address"
                                    data-cy="reg-email"
                                    formControlName="email"
                                    type="email"
                                    required
                                />
                            </mat-form-field>
                        </div>
                        <div class="already-have-account">
                            Already have an account?<a color="primary" routerLink="/login" class="links">Log In</a>
                        </div>
                    </div>
                    <div class="button">
                        <button
                            type="button"
                            [disabled]="!registrationForm.valid"
                            mat-raised-button
                            color="primary"
                            (click)="sendEmailVerification()"
                        >
                            NEXT
                        </button>
                    </div>
                </form>
            </ng-container>
            <ng-container *ngIf="showVerificationForm">
                <h4>Verify Email Address</h4>
                <p>
                    An email has been sent to {{ registrationForm.value.email }}. Enter the verification code or follow
                    the link provided to continue.
                </p>
                <form [formGroup]="verificationForm">
                    <div class="form-field-set">
                        <mat-form-field>
                            <input
                                matInput
                                type="text"
                                placeholder="Verification Code"
                                data-cy="verify code"
                                formControlName="verificationCode"
                                required
                            />
                        </mat-form-field>
                        <a color="primary" class="resent-code">Resend Code</a>
                    </div>
                    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
                        <button mat-raised-button (click)="backtoRegister()">BACK</button>
                        <button
                            type="button"
                            [disabled]="!verificationForm.valid"
                            mat-raised-button
                            color="primary"
                            (click)="verifyEmail()"
                        >
                            NEXT
                        </button>
                    </div>
                </form>
            </ng-container>

            <ng-container *ngIf="showAccountForm">
                <h4>Create Account</h4>
                <p>To complete your account registration, enter your account details below.</p>
                <form [formGroup]="accountForm">
                    <div class="form-field-set">
                        <div class="form-group" fxLayout="row" fxLayoutAlign="flex-start center" fxLayout.xs="column">
                            <mat-icon>person </mat-icon>
                            <mat-form-field fxFlex="1 1 0">
                                <input
                                    matInput
                                    type="text"
                                    placeholder="FirstName"
                                    data-cy="reg-fname"
                                    formControlName="firstName"
                                    required
                                />
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 0">
                                <input
                                    matInput
                                    type="text"
                                    placeholder="LastName"
                                    data-cy="reg-lname"
                                    formControlName="lastName"
                                    required
                                />
                            </mat-form-field>
                        </div>
                        <div class="form-group" fxLayout="row" fxLayoutAlign="flex-start center">
                            <mat-icon></mat-icon>
                            <mat-form-field fxFlex="1 1 0">
                                <input
                                    matInput
                                    type="text"
                                    placeholder="Title/Role"
                                    data-cy="reg-title-role"
                                    formControlName="role"
                                />
                            </mat-form-field>
                        </div>
                        <div class="form-group" fxLayout="row" fxLayoutAlign="flex-start center">
                            <mat-icon>call</mat-icon>
                            <mat-form-field fxFlex="1 1 0">
                                <input
                                    matInput
                                    type="tel"
                                    placeholder="Phone"
                                    data-cy="reg-phone"
                                    formControlName="phone"
                                    required
                                />
                            </mat-form-field>
                        </div>
                        <div class="form-group" fxLayout="row" fxLayoutAlign="flex-start center" fxLayout.xs="column">
                            <mat-icon>vpn_key</mat-icon>
                            <!-- PASSWORD FIELD SHOULD ONLY BE SHOWN IF THE USER DOES NOT YET HAVE AN ACCOUNT IN ACTIVE DIRECTORY. THIS INFORMATION WILL COME FROM THE CALL TO VERIFY THE EMAIL ADDRESS  -->
                            <mat-form-field fxFlex="1 1 0">
                                <input
                                    matInput
                                    type="password"
                                    placeholder="Password"
                                    data-cy="reg-pswd"
                                    formControlName="password"
                                    required
                                />
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 0">
                                <input
                                    matInput
                                    type="password"
                                    placeholder="Confirm Password"
                                    data-cy="reg-conf-pswd"
                                    formControlName="confirmPassword"
                                    required
                                />
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
                        <button mat-raised-button (click)="backtoLogin()">CANCEL</button>
                        <button
                            type="button"
                            [disabled]="!accountForm.valid"
                            mat-raised-button
                            color="primary"
                            data-cy="reg-finish-btn"
                            (click)="createAccount()"
                        >
                            FINISH
                        </button>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>
</div>
