form {
    max-width: 250px;
    margin: auto;
}
mat-form-field {
    display: block;
}
.text-center {
    text-align: center;
}
.logo {
    max-width: 250px;
    margin: auto;
    width: 100%;
    display: block;
}
.page-wrap {
    min-height: 100vh;
    background: url("../../assets/background.png"), url("https://raw.githubusercontent.com/pxblue/login/angular/src/assets/background.png"), linear-gradient(135deg, #127cbf 0%, #094d9c 100%);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0;
}
.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: #fff;
    box-sizing: border-box;
    border-radius: 5px;
}
.badge-logo {
    width: 60px;
    margin: 0 auto 10px;
    display: block;
}
@media (max-width: 599px) {
    .login {
        width: 100%;
        margin-bottom: 15px;
    }
}
.links {
    color: #4da3d4;
}
.links:visited {
    color: #4da3d4;
}
