<div class="page-wrap" fxLayout="row" fxLayoutAlign="center center" fxLayout="column">
    <mat-card class="container">
        <img src="https://image.ibb.co/nuN8Re/12.jpg" alt="Company or Product Logo" class="logo" />
        <form [formGroup]="loginForm">
            <mat-form-field>
                <input
                    matInput
                    placeholder="Email Address"
                    data-cy="login-email"
                    formControlName="email"
                    type="email"
                    required
                />
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    type="password"
                    placeholder="Password"
                    data-cy="login-password"
                    formControlName="password"
                    required
                />
            </mat-form-field>
            <div
                class="text-center mat-typography"
                fxLayout="row"
                fxLayoutAlign="space-between center"
                fxLayout="row-reverse"
                fxLayout.xs="column"
            >
                <button
                    type="button"
                    [disabled]="!loginForm.valid"
                    mat-raised-button
                    color="primary"
                    data-cy="login-btn"
                    class="login"
                    (click)="login()"
                >
                    LOG IN
                </button>
                <mat-checkbox class="text-center mat-typography" data-cy="login-remember-me" formControlName="remember"
                    >Remember Me</mat-checkbox
                >
            </div>
            <br />
            <div fxLayout="row" fxLayoutAlign="center center" mat-typography>
                <a mat-button (click)="(signUp)" routerLink="/registration" color="primary" href="">Sign Up</a>
                <a mat-button (click)="(password)" routerLink="/forgot" color="primary" href="">Forgot Password</a>
            </div>
        </form>
        <br />
        <img src="https://image.ibb.co/kzkCme/Logo_Samples2_91_min.jpg" alt="Cybersecurity Badge" class="badge-logo" />
        <div class="text-center mat-typography">
            <h4>
                By logging in you agree to our
                <br />

                <a class="links" href="">Terms and Conditions</a> and
                <a class="links" href="">Privacy Policy</a>
            </h4>
        </div>
    </mat-card>
</div>
